<?xml version="1.0" encoding="utf-8"?>
<DataType Key="66e0518f-95ac-4b6d-8aa4-5c7da6959fdc" Alias="Headline Block - Header Type - Dropdown" Level="1">
  <Info>
    <Name>Headline Block - Header Type - Dropdown</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Dropdown</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "items": [
    "H2",
    "H3",
    "H5"
  ]
}]]></Config>
</DataType>