<?xml version="1.0" encoding="utf-8"?>
<DataType Key="4d619a2e-ed48-4ae7-93ae-dd0df799cd97" Alias="News Article Page - Publishing Date - Date Only" Level="1">
  <Info>
    <Name>News Article Page - Publishing Date - Date Only</Name>
    <EditorAlias>Umbraco.DateOnly</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.DateOnlyPicker</EditorUIAlias>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>