<?xml version="1.0" encoding="utf-8"?>
<DataType Key="b7772cd7-fdd9-4961-a913-76919aa7eb8a" Alias="Page - Block Grid - Block Grid" Level="1">
  <Info>
    <Name>Page - Block Grid - Block Grid</Name>
    <EditorAlias>Umbraco.BlockGrid</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockGrid</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "907a7b60-f651-412b-8eda-82dc1cc9b73b",
      "allowAtRoot": true,
      "allowInAreas": true,
      "label": ""
    },
    {
      "contentElementTypeKey": "c1e527c5-fb89-4ed5-9a24-babafb68aa5c",
      "allowAtRoot": true,
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "c5023756-5dd1-4640-b39c-e393976a7cc7",
      "allowAtRoot": true,
      "allowInAreas": true,
      "label": ""
    }
  ],
  "gridColumns": 12
}]]></Config>
</DataType>