<?xml version="1.0" encoding="utf-8"?>
<Content Key="3b2b85f4-08d5-4d5e-8803-f9f4171eb64d" Alias="Home" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Home</Path>
    <Trashed>false</Trashed>
    <ContentType>page</ContentType>
    <CreateDate>2026-02-19T08:22:14</CreateDate>
    <NodeName Default="Home" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <blockGrid>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "907a7b60-f651-412b-8eda-82dc1cc9b73b",
      "key": "3c6042f8-7816-46a8-a3f2-9db614204a79",
      "values": [
        {
          "alias": "headerType",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "H1"
          ]
        },
        {
          "alias": "text",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "This is a headline"
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "3c6042f8-7816-46a8-a3f2-9db614204a79",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockGrid": [
      {
        "areas": [],
        "columnSpan": 12,
        "contentKey": "3c6042f8-7816-46a8-a3f2-9db614204a79",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </blockGrid>
  </Properties>
</Content>